@import "./variable.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--family-1);
}

body {
  background-color: var(--background);
}

section {
  padding: 0 200px;
}