:root {
      /* Colors */
  --primary-color: #141414;
  --secondary-color: #373737;
  --background: #202020;
  --text-color: #e3e3e3;
  --accent: #da6ee2;
  --accent-hover: #67336b;
  --transparent: transparent;
  --border-black: hsl(0, 0%, 20%);
  --subtext-color: hsl(0, 0%, 70%);
  --subtext-color2: hsl(0, 0%, 70%);

    /* Font sizes */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 2rem;
  --text-4xl: 3rem;
  --text-5xl: 5rem;

   /* Border radius */
  --border-full: 50%;
  --border-xs: 2px;
  --border-sm: 5px;
  --border-md: 8px;
  --border-lg: 10px;
  --border-xl: 15px;

   /* Font Family */
  --family-1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}