/* About Section */
#about {
  background-color: var(--primary-color);
}

.tagline {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--text-color);
  font-size: var(--text-4xl);
  font-style: italic;
}

.tagline span {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--accent);
  font-size: var(--text-4xl);
  padding: 10px;
}

.about-card, .cert-card {
  background-color: var(--background);
  border: 1px solid var(--text-color);
  border-radius: var(--border-lg);
}

.about-text, .cert-text {
  color: var(--accent);
}

.about-desc {
  color: var(--text-color);
}

.timeline {
  background-color: var(--text-color);
}

.certs:hover   .node{
  background-color: var(--accent);
}

.node {
  border: 2px solid var(--text-color);
  border-radius: var(--border-full);
  background-color: var(--background);
  transition: ease 0.5s;
}

.cert-list {
  background-color: var(--primary-color);
  border-radius: var(--border-sm);
}

.cert-list h4 {
  color: var(--text-color);
}

.cert-list p {
  font-size: var(--text-xs);
  color: var(--secondary-color);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--transparent) var(--transparent);
  transition: scrollbar-color 0.3s ease;
}

/* Show scrollbar on hover or while scrolling */
.custom-scrollbar:hover,
.custom-scrollbar:active {
  scrollbar-color: var(--background) transparent;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  background: var(--transparent);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--transparent);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--transparent);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.custom-scrollbar.scrolling::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  animation: fadeIn 0.2s ease;
}