#projects {
    background-color: var(--background);
}

.project-tagline {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--text-color);
    font-size: var(--text-4xl);
    font-style: italic;
}

.project-tagline span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--accent);
    font-size: var(--text-4xl);
    padding: 10px;
}

.project-subtext {
    color: var(--text-color);
    font-size: var(--text-lg);
}

.project-container {
    background-color: var(--background);
    border: 1px solid var(--border-black);
    border-radius: var(--border-lg);
}

.project-header {
    border: none;
    border-bottom: 1px solid var(--border-black);
}

.project-header h3 {
    color: var(--text-color);
    font-size: var(--text-2xl);
}

.project-header span {
    color: var(--text-color);
    font-size: var(--text-sm);
}

.project-icon {
    color: var(--accent);
}

.project-link {
    border-top: 1px solid var(--border-black);
}

.project-card:hover .project-link {
    border-top: 1px solid var(--accent);
}

.project-title {
    font-size: var(--text-lg);
}

.project-techstack {
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: var(--border-xl);
  font-size: var(--text-sm);
}

.view-more {
    border-top: 1px solid var(--border-black);
}

.view-btn {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--accent);
  transition: color 0.25s ease;
  z-index: 1;
  padding: 8px 16px;
}

.view-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--accent-hover);
  z-index: -1;
  transform-origin: right;
  transform: scaleX(2) translateX(20%) skew(-30deg);
  transition: transform 0.45s cubic-bezier(.22,.9,.37,1);
  pointer-events: none;
  -webkit-backface-visibility: hidden;
}

.view-btn:hover::before {
  transform: skew(-30deg) translateX(120%);
}

.view-btn:hover {
  color: var(--text-color);
  border-color: var(--accent);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #1e293b;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #475569;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #64748b;
}

@media (max-width: 767px) {
  .project-tagline {
  font-size: var(--text-3xl);
  font-style: italic;
}

.project-tagline span {
  font-size: var(--text-3xl);
  padding: 10px;
}

.project-subtext {
    color: var(--text-color);
    font-size: var(--text-sm);
}

.project-title {
    font-size: var(--text-lg);
}

.project-desc, .project-techstack, .project-link a {
  font-size: var(--text-xs);
}

.view-btn {
    font-size: var(--text-sm);
}
}